* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100px;
    height: 150px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.row {
    padding-top: 50px;
}

